// Custom styles for sewing BUTTONS!!!
// ====================================================

.navbar-light .navbar-nav .nav-link.buttons__btn-primary-custom {
  background-color: $primary-red;
  color: $white;
  &:hover {
    background-color: $primary-blue;
  }
}

.buttons__yt-subscribe {
  display: inline-block;
  height: 1rem;
  margin-top: -4px;
  margin-right: 5px;
  transform: scale(1.8,1.8);
  vertical-align: middle;
  width: 1rem;
}

.buttons__custom-danger {
  margin-right: 20px;
}

.buttons__btn-margin-top {
  margin-top: 20px;
}

.btn-primary {
  background-color: $btn-primary-bg;
  border-color: $btn-primary-border;
}

.btn-primary:hover {
  background-color: $btn-hover-bg;
  border-color: $btn-hover-border;
}

// Custom styles for Bootstrap accordians
// ====================================================
.buttons__btn-link-custom {
  color: $primary-red;
  font-family: $secondaryfont-stack;
  font-size: 1.4rem;
  font-weight: $secondaryfont-weight-boldish;
  text-decoration: none !important;  // Important needed to overide link underlining behavior
  &:hover {
    color: $primary-blue;
  }
}

.buttons__blue-circle {
  // Styles to create the circular + buttons
  background-color: $primary-blue;
  border-radius: 50%;
  color: $white;
  display: inline-block;
  font-family: $secondaryfont-stack;
  font-size: 2rem;
  font-weight: $secondaryfont-weight-regular;
  height: 30px;
  line-height: 30px;  // line-height needed to center text vertically
  margin-left: -20px;
  margin-right: 10px;
  text-decoration: none !important;  // Important needed to overide link underlining behavior
  vertical-align: middle;
  width: 30px;
}

.buttons__plus::after {
  content: "+";
}

.buttons__minus::after {
  content: "-";
}

@media screen and (min-width: 992px) {
  .buttons__blue-plus {
    margin-left: 0;
    margin-right: 20px;
  }
}

.buttons__btn-marg {
  margin-top: -50px;
}

.buttons__blue-btn {
  background-color: #4579fb;
  border-color: #4579fb;
  font-weight: bold;
}
