---
layout: default
baseurl: ''
title: KCC
description: ''
---

<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-8 header__bg positioning__offset-global-nav">
        <h2 class="typography__register--h2">Get ahead.</h2>
        <h3 class="typography__register--h3">Get started at KCC.</h3>
        <span class="typography__register--caption">Adrian Benfield, Class of 2017</span>
      </div>
      <div class="col-xl-4 positioning__accordian--padding">
        <h4 class="typography__register-h4 text-center">START HERE</h4>
        <!--
          <h5 class="typography__register-h5 text-center">Classes Begin Jan. 7th</h5>
        <h5 class="typography__register-h5 text-center">Seats Are Filling Fast</h5>
        -->
        {% include targetx-form.html %}
      </div>
    </div>
  </div>
</header>

<section class="positioning__section--marg">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h5 class="text-center typography__register--h5">Why Choose Kankakee Community College (KCC)?</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="text-center">
          {% include save-money.svg %}
        </div>
        <h6 class="text-center editable">Save Money</h6>
        <div class="editable">
          <p><strong>KCC costs 1/3 less</strong> than 4-year colleges and universities and offers the same great education. Plus, financial aid & scholarships.</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="text-center">
          {% include love.svg %}
        </div>
        <h6 class="text-center editable">Love What You Do</h6>
        <p>KCC has degree & certificate <strong>options to fit your interests</strong>. You can transfer after KCC to complete a bachelor’s degree, or get ready for the workforce.</p>
      </div>
      <div class="col-12 col-md-4">
        <div class="text-center">
          {% include goals.svg %}
        </div>
        <h6 class="text-center editable">REACH YOUR GOALS</h6>
        <p>We care about your progress and want you to succeed. KCC’s small class sizes, faculty and support services help you stay on track to graduate.</p>
      </div>
    </div>
  </div>
</section>

<section class="positioning__section--marg">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="typography__register--h5 text-center">What Our Students Say</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 text-center">
        <img src="{{ page.baseurl }}uploads/jordan-arseneau.jpg" class="img-fluid" alt="">
        <span class="typography__register--img-cap">Jordan Arseneau, Class of 2015</span>
      </div>
      <div class="col-12 col-md-8">
        <p class="typography__register--student-p"><em>“I firmly believe that KCC is the best educational option in Kankakee County. The education and career guidance I received in my short time there was instrumental in my success. I wouldn’t be where I am today without Kankakee Community College.”</em></p>
      </div>
    </div>
    <div class="row positioning__row--pad">
      <div class="col-12 col-md-8 order-2 order-md-1">
        <p class="typography__register--student-p"><em>“My KCC experience ... helped guide me into the career path I wanted and chose. I wouldn’t go anywhere else. I wouldn’t change anything about it. In fact, if there were other classes that would help better my career in the future I would love to come back.”</em></p>
      </div>
      <div class="col-12 col-md-4 text-center order-1 order-md-2">
        <img src="{{ page.baseurl }}uploads/cadence-hanchew.jpg" class="img-fluid" alt="">
        <span class="typography__register--img-cap">Cadence Hanchew (Student, 2015-17)</span>
      </div>
    </div>
  </div>
</section>

<section class="positioning__section--marg">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="typography__register--h5 text-center">Accreditations & Licensures</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4">
        <img src="{{ page.baseurl }}assets/img/idfpr_400x400.png" alt="">
      </div>
      <div class="col-12 col-lg-4">
        <img src="{{ page.baseurl }}assets/img/itransfer.png" alt="" class="positioning__register--itransfer-img float-left">
        <span class="typography__register-itransfer">Illinois<br> Transfer<br> Articulation<br></span>
      </div>
      <div class="col-12 col-lg-4">
        <img src="{{ page.baseurl }}assets/img/ICCB.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="positioning__section--marg">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h6 class="text-center">Get Started Now.</h6>
        <h6 class="text-center">Classes Begin Jan. 7th.</h6>
        <a href="/#page-top" class="btn btn-primary btn-lg text-center">GET STARTED</a>
      </div>
    </div>
  </div>
</section>
