<div id="accordion" class="positioning__accordian-marg">
  <div class="card positioning__card--spacing">
    <div class="card-header" id="headingOne">
      <h2 id="membership" class="mb-0 main-heading">
        <button id="plusButton" class="btn btn-link buttons__btn-link-custom membershipTarget" aria-expanded="true" aria-controls="collapseOne">
          <span id="plusMinus" class="buttons__blue-circle buttons__plus"></span>&nbsp;I'M NEW - I'D LIKE MORE INFO
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {% include targetx-form.html %}
      </div>
    </div>
  </div>
  <div class="card positioning__card--spacing">
    <div class="card-header" id="headingTwo">
      <h2 id="personal-trainers" name="personal-trainers" class="mb-0 main-heading">
        <button id="plusButton2" class="btn btn-link collapsed buttons__btn-link-custom trainersTarget" aria-expanded="false" aria-controls="collapseTwo">
          <span id="plusMinus2" class="buttons__blue-circle buttons__plus"></span>&#160;I'VE APPLIED & I'M READY TO REGISTER
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div class="editable">
          <p><strong>[Link to Setmore Appt. or Self Service]</strong></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card positioning__card--spacing">
    <div class="card-header" id="headingThree">
      <h2 id="testimonials" name="testimonials" class="mb-0 main-heading">
        <button id="plusButton3" class="btn btn-link collapsed buttons__btn-link-custom testimonialsTarget" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <span id="plusMinus3" class="buttons__blue-circle buttons__plus"></span>&#160;I'D LIKE THE VIP TOUR
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div class="text-center">
          <a href="https://kcc.secure.force.com/events/#/list" class="btn btn-primary btn-lg editable" target="_blank" rel="nooppener">Schedule a VIP Tour</a>
        </div>
      </div>
    </div>
  </div>
</div>
