// Header styles
// ==========================================

.header__bg {
  background-image: url('/uploads/DSC_8724_4x3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 95%;
  height: 95vh;
}
